.venv/
__pycache__/
.pycache_compile/
*.pyc
.env
.streamlit/secrets.toml
models/transformer-checkpoints/
*.log

# kaggle submission files
/submission/

# trained model folders are too large for repos
models/transformers/

data/*.zip

# disable github worflows until setup
.github/workflows/*
